*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend';
}

body{
    max-width: 1280px;
    margin: 0 auto;
}

.bandeau1 {
    width: 100%;
    background-color: #CFCFCF;
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 41px;
    border-radius: 30px;
}

.bandeau1 > div {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
    margin-bottom: 48px;
}
.bandeau1 > div > .p-spe{
    max-width: 274px;
}
.bandeau1 > div > p {
    text-align: center;
    max-width: 197px;
}
.produits-simi {
    margin: 30px 0;
}
.produits-simi > h2 {
    color: #97B347;
    font-size: 24px;
    margin-bottom: 41px;
}
.link-wrapper{
    display: flex;
    gap: 50px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.link-wrapper > div > p {
    font-size: 20px;
    color: #42382C;
    font-weight: 600;
}
.link-wrapper > div > img {
    border-radius: 10px;
    filter: drop-shadow(11px 11px 12px rgba(0, 0, 0, 0.375));}
.link-wrapper > div > .first-p{
    color: black;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 17px;

}
footer {
    background-color: #D1AD8D;
    color: #FFFFFF;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}
.footer-top {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

}
.footer-top > div {
    max-width: 250px;
    margin-top: 31px;
    margin-bottom: 26px;

}
footer p {
    font-size: 15px;
    font-weight: 400;
}
.footer-title {
    font-size: 22px;
    margin-bottom: 30px;
}

.footer-bottom {
    border-top: 1px dashed white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    font-size: 12px;
}
.footer-bottom-p-wrapper {
    display: flex;
    gap: 40px;
    text-decoration: underline;
}
.footer-bottom > p,
.footer-bottom-p-wrapper > p {
    font-family: 'Inter';
}

/*Responive*/


@media screen and (max-width: 383px) {
    .bandeau1 {
        flex-direction: column;
        align-items: center;
        color: black;
        background-color: #ffffff;
    }
    .produits-simi {
        margin: 0;
        margin-left: 15px;
    }
    .link-wrapper {
        gap: 15px;
        justify-content: start;
        overflow-x: scroll;
    }
    .link-wrapper > div {
        padding-bottom: 20px;
    }
    .link-wrapper > div > img {
        width: 150px;
    }
    .link-wrapper > div > p {
        font-size: 13px;
    }
    .link-wrapper > div > .first-p {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .footer-top {
        align-items: center;
        flex-direction: column;
    }
    .footer-title, 
    .footer-top > div > p {
        text-align: center;
    }
    .footer-top > div > p {
        font-family: 'Inter';
    }
    .footer-top-div2 {
        display: none;
    }

    .footer-bottom {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 5px;
    }
    .footer-bottom-p-wrapper {
        gap: 20px;
    }
    .footer-bottom > p,
    .footer-bottom-p-wrapper > p {
        font-family: 'Inter';
        font-size: 10px;
    }
}