body {
    position: relative;
}
.product {
    height: 620px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    margin: 20px 50px;
    gap: 50px;
}

.product .card {
    background-color: var(--beige);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: var(--white);
    padding: 90px;
    font-size: 13px;
    line-height: 16px;
}

.product .card .name {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.product .card .description {
    margin-top: 15px;
}

.product .card h3 {
    margin-top: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.product .card .dimensions {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    height: 70px;
    border: 1px solid var(--white);
    border-radius: 7px;
}

.product .card .dimensions div {
    border-right: 1px solid var(--white);
}

.product .card .dimensions div:last-child {
    border-right: none;
}

.product .card .dimensions h4 {
    margin-top: 10px;
}

.product .card .price {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    margin-top: 30px;
}

.product .card .buttons {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.product .pictures {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 460px 1fr;
    gap: 20px;
}

.product .pictures .big-picture {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: zoom-in;
}

.product .pictures .big-picture:hover {
    background-size: 200%;
}

.product .pictures .small-pictures {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.product .pictures .small-pictures img {
    width: 146px;
    height: 146px;
    cursor: pointer;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: .3s;
    transition-property: transform;
}

.product .pictures .small-pictures img:hover {
    transform: scale(1.05);
}

.dime img{
    display: none;
}
.burgerIcon {
    display: none;
}
.menuBurger {
    visibility: hidden;
    pointer-events: none;
}


@media screen and (max-width: 1100px) {
    .product {
      display: flex;
      flex-direction: column;
    }
    .product .card {
        border-radius: 0rem 0rem 5rem 5rem;
        padding: 0  rem;
    } 
    .dime img{
        width: 50px;
        display: flex;
    }
    .dime {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    .product .card .name{
        text-align: left;
        padding: 1rem;
    }
    .product .card .description {
        text-align: left;
        padding: 1rem;
    }
    .product .card h3 {
        padding: 20px;        
    }
    .product .card .price {
        padding: 20px;
   }


}
@media screen and (max-width: 383px) {
    .cross {
        display: flex;
        justify-content: flex-end;
        margin-right: 30px;
        margin-top: 15px;
    }
    .menuBurger {
        position: absolute;
        visibility: visible;
        pointer-events: auto;
        height: 100vh;
        width: 100%;
        background: #fff;
        z-index: 100;
        padding-left: 30px;
        transform: translateX(-383px);
        transition: all 0.5s ease-in-out;
    }
    .menuBurger.show {
        transform: translateX(0);
    }
    .burgerTop {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 70px;
    }
    .burgerTop a {
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 25px;
        font-weight: 900;
    }
    .menuBurger hr {
        margin-top: 50px;
        margin-bottom: 40px;
        margin-right:  70px;
        color: rgba(27, 27, 27, 0.514);
    }
    .burgerBottom {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 70px;
    }
    .burgerBottom a {
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 600;
    }
    
    header .left .logo {
        width: 33px;
        height: 33px;
        margin-left: 88px;
    }
    .burgerIcon {
        display: block;
        margin-left: 20px;
        width: 26px;
    }
    header .right {
        margin-right: 0;
    }
    
    .product {
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 20px 30px;

    }
    .product .card {
        border-radius: 0rem 0rem 5rem 5rem;
        padding: 0rem;
        width: 20rem;

    } 
    .buttons {
        padding-bottom: 5rem;
    }
    .product .pictures {
        grid-template-rows: 246px 1fr;
    }
    .product .pictures .big-picture {
        width: 290px;
        height: 100%;
        margin-left: 20px;
    }
    .product .pictures .small-pictures img {
        width: 72px;
        height: 72px;
    }
    .product .card .dimensions {
        margin: 0 5px;
    }
    
    .product .card .description {
        font-size: 13px;
        font-weight: 400 !important;
        padding: 5px 1rem ;
        margin-top: 0;
    }
    .product .card h3 {
        margin-top: 0;
        padding: 10px 20px;
    }
    .product .card .price {
        font-size: 20px;
        font-weight: 600;
        margin-top: 15px;
        line-height: 0;
    }
    .product .card .buttons {
        margin-top: 24px;
        padding-bottom: 4rem;
        gap: 10px;
        margin: 0 5px;
    }
    .product .card .buttons a {
        font-size: 16px;
        text-align: center;
    }
    .text-links,
    .text-links > a {
        display: none;
    }
    .title {
        display: none;
    }
    .sr-icon {
        display: none;
    }
    .pr-icon {
        display: none;
    }
    header .logo {
        align-items: center;
 }
    .burger {
        height: 5rem;
    }
}